In [10]:
import pandas as pd
from pandas import DataFrame
test = pd.read_csv('https://raw.githubusercontent.com/collinrijock/ml-class-collin/master/projects/test.csv', index_col="id")
train = pd.read_csv('https://github.com/collinrijock/ml-class-collin/blob/master/projects/train.csv?raw=true', index_col="id")
from sklearn.preprocessing import LabelEncoder

X_train = train.iloc[:, 0:-1].to_numpy()
Y_train = train.iloc[:, -1]
X_test = test.to_numpy()
X_train.shape

(61878, 93)

In [11]:
train

,feat_1,feat_2,feat_3,feat_4,feat_5,feat_6,feat_7,feat_8,feat_9,feat_10,...,feat_85,feat_86,feat_87,feat_88,feat_89,feat_90,feat_91,feat_92,feat_93,target
id,,,,,,,,,,,,,,,,,,,,,
1,1,0,0,0,0,0,0,0,0,0,...,1,0,0,0,0,0,0,0,0,Class_1
2,0,0,0,0,0,0,0,1,0,0,...,0,0,0,0,0,0,0,0,0,Class_1
3,0,0,0,0,0,0,0,1,0,0,...,0,0,0,0,0,0,0,0,0,Class_1
4,1,0,0,1,6,1,5,0,0,1,...,0,1,2,0,0,0,0,0,0,Class_1
5,0,0,0,0,0,0,0,0,0,0,...,1,0,0,0,0,1,0,0,0,Class_1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
61874,1,0,0,1,1,0,0,0,0,0,...,1,0,0,0,0,0,0,2,0,Class_9
61875,4,0,0,0,0,0,0,0,0,0,...,0,2,0,0,2,0,0,1,0,Class_9
61876,0,0,0,0,0,0,0,3,1,0,...,0,3,1,0,0,0,0,0,0,Class_9
61877,1,0,0,0,0,0,0,0,0,0,...,0,0,0,0,1,0,3,10,0,Class_9
61878,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,2,0,Class_9

In [46]:
from xgboost import XGBClassifier
params = { "n_estimators": 600, 'tree_method':'gpu_hist', 'predictor':'gpu_predictor' }
model = XGBClassifier(**params)
model.fit(X_train,Y_train)

XGBClassifier(n_estimators=600, objective='multi:softprob',
              predictor='gpu_predictor', tree_method='gpu_hist')

In [47]:
from sklearn.metrics import confusion_matrix, accuracy_score
predictions = model.predict(X_test)
df = pd.DataFrame(predictions)
df["id"] = test.index
df = pd.get_dummies(df, columns=[0],prefix="", prefix_sep="")
df.index = df["id"]
df

,id,Class_1,Class_2,Class_3,Class_4,Class_5,Class_6,Class_7,Class_8,Class_9
id,,,,,,,,,,
1,1,0,0,0,1,0,0,0,0,0
2,2,0,0,0,0,0,1,0,0,0
3,3,0,0,0,0,0,1,0,0,0
4,4,0,1,0,0,0,0,0,0,0
5,5,0,0,0,0,0,0,0,0,1
...,...,...,...,...,...,...,...,...,...,...
144364,144364,1,0,0,0,0,0,0,0,0
144365,144365,0,0,1,0,0,0,0,0,0
144366,144366,0,1,0,0,0,0,0,0,0
144367,144367,0,0,0,1,0,0,0,0,0
144368,144368,0,0,1,0,0,0,0,0,0

In [48]:
from google.colab import files

df.to_csv('test_predictions.csv',index=False)
files.download('test_predictions.csv')